<!-- footer.html -->
<footer class="footer mt-auto py-3 text-center text-dark">
  <div class="container">
      <span class="text-muted">© 2023 Taha Arbass. All rights reserved.</span>
  </div>
</footer>